<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <link rel="shortcut icon" href="src/images/logo.png" type="image/x-icon">
        <link rel='stylesheet' href='dist/style.css'>
    </head>
    <body>
        <div class="container main-container">
            {{> "./src/templates/blocks/header.hbs"}}
            <div class="content index">
                <div class="index__title">Работа </br> для каждого</div>
                <div class="index__buttons">
                    <button class="index__button">Разместить вакансию</button>
                    <button class="index__button">Разместить резюме</button>
                </div>
            </div>
            {{> "./src/templates/blocks/footer.hbs"}}
        </div>
    </body>
</html>
