<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
        <link rel='stylesheet' href='dist/style.css'>
    </head>
    <body>
        <div class="container">
           
        </div>
    </body>
</html>
